* {
  box-sizing: border-box;
}

body {
  margin: 24px;
  font-family: Montserrat, sans-serif;
  background-color: #fff;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  flex-basis: calc((100% - 48px) / 3);
}

.gallery-link {
  display: block;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image:hover,
.gallery-image:focus {
  transform: scale(1.04);
}

.basicLightbox__placeholder img {
  display: block;
  max-width: min(90vw, 1112px);
  max-height: 90vh;
}
